.hero__section {
  max-height: 600px;
  min-height: 500px;

  max-width: 700px;
}

.hero__suggestion {
  font-size: 14px;
}

.word__list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.word__list li:not(:last-child) {
  margin-right: 5px;
}

.word__list a {
  color: #ccc;
}

.word__list a:hover {
  color: #fff;
}

@media screen and (max-width: 500px) {
  .hero__section {
    max-height: 700px;
    min-height: 550px;
  }
}
