/* Galllery Nav */
.gallery__nav {
  font-size: 0.85rem;
  font-weight: bold;
  color: #5e5e5e;
}

.gallery__nav a {
  display: block;
  padding: 0.9rem;

  position: relative;

  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}

.gallery__nav a:hover {
  color: #0064f9;
}

.gallery__active {
  color: #0064f9;
}

.gallery__active::after {
  content: '';
  display: block;
  background-color: #0064f9;
  height: 0.22rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.gallery__layout {
  max-width: 1440px;
  min-height: 1500px;
  margin: auto;
}

/* Gallery title */
.title__select span {
  font-size: 14px;
}

.gallery__title__dropdown {
  opacity: 0;
}

.title__text__drop:hover .gallery__title__dropdown {
  opacity: 1;
}

.dropdown__menu a {
  display: block;
  text-decoration: none;
  color: #1a1a1a;
  padding: 0.5rem;
  font-size: 14px;
  transition: all 0.2s ease;
}

.dropdown__menu a:hover,
.dropdown__menu a.active__menu {
  background-color: rgb(233, 233, 233);
  font-weight: bold;
}
